/* 
Because we all need some Sass in our lives. And in our codes.
--------------------------------------------------------------------------------- 
This code will subtly (or not so subtly) generate different colors for background.
This code will also do some animations for header. 
*/
@keyframes changecolours {
  0% {
    background-color: rgba(236, 236, 236, 0.6); }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  10% {
    background-color: #9dced8; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  20% {
    background-color: #bfd496; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  30% {
    background-color: #c6bc91; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  40% {
    background-color: #fbe39d; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  50% {
    background-color: #d8a89d; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  60% {
    background-color: #a58bbe; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  70% {
    background-color: #d8d89d; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  80% {
    background-color: #9dd8c4; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  90% {
    background-color: #9dced8; }
  transparentize: #8bc5d1, #b4cd84, #bdb280, #fadc84, #d1988b, #987bb5, #d1d18b, #8bd1b9, #8bc5d1, #DFDFDF, 0.4;
  100% {
    background-color: #ececec; } }

@keyframes bounceDown {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(30%); }
  100% {
    transform: translateY(0%); } }

@keyframes arrowHover {}.home-container .row {
  animation-name: changecolours;
  animation-duration: 20s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

.fa-arrow-down {
  animation-name: bounceDown;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

.down-arrow*:before {
  transition: 0.25s ease-in-out;
  transition-property: initial;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial; }
