.tab-content {
  min-height: 275px;
  margin-top: 30px;
  margin-bottom: 20px; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd; }

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent; }

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd; }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff; }

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd; }

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff; }

/* NAVIGATION BAR RULES ARE HERE. NAVIGATION ANIMATIONS HERE AS WELL. 
CODE REFACTORING HAPPENS LATER. */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00; }

.srow {
  font-size: 25px; }

.left {
  transform: rotate(-10deg); }

.right {
  transform: rotate(180deg); }

.nav-area {
  z-index: 2;
  position: relative;
  float: right;
  top: 0;
  right: 0;
  height: 100%; }

.content-area {
  float: left; }

.navbar {
  z-index: 2;
  background-color: rgba(6, 26, 38, 0.9);
  border: 0;
  border-radius: 0;
  color: white; }
  @media (min-width: 800px) {
    .navbar {
      height: 100%; } }
  .navbar .nav-ul {
    padding-top: 100px;
    font-size: 15px; }
  .navbar .container-fluid {
    padding: 0; }

.navbar-default .navbar-nav > li > a {
  color: white; }

/* Overiding default css properties for navigation active, focus, and hover */
.navbar-icons {
  text-align: center;
  margin: 15%; }

.nav-contactInfo {
  padding-top: 550px;
  font-size: 14px;
  text-align: center; }

.nav-info-box {
  background-color: rgba(6, 26, 38, 0.9);
  width: 250px;
  height: 250px;
  position: relative;
  top: 100px;
  right: 215px;
  z-index: 10;
  border-radius: 2%; }

.navbar a i:hover, .navbar a i:active, .navbar a i.fa {
  display: block;
  height: 29px;
  width: 29px;
  font-size: 13px;
  text-align: center;
  line-height: 29px;
  color: #D72436;
  border-radius: 50%;
  background-color: #93d8ff;
  margin-bottom: 10px; }

.navbar a {
  display: inline-block;
  padding: 48px 25px 16px 25px;
  text-decoration: none;
  color: #93d8ff; }

.navbar ul {
  width: 100%;
  text-align: center; }
  .navbar ul li {
    padding: 0 10px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: none; }

.smart-object {
  position: fixed;
  transform-style: flat;
  backface-visibility: hidden;
  transform: translate3d(40px, 40px, 0px);
  z-index: 5;
  top: 0px;
  left: 0px; }

.desktop-menu {
  width: 45px;
  height: 45px;
  border-radius: 23px;
  position: absolute;
  background-color: white; }
  .desktop-menu .fa {
    cursor: pointer;
    font-size: 16px;
    line-height: 45px;
    min-width: 45px;
    height: 45px;
    text-align: center; }

.home-container {
  background: url("../images/DSCF1245.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  filter: grayscale(1);
  transition-property: filter;
  transition-duration: 1s;
  width: 100%;
  filter: grayscale(1);
  transition-property: filter;
  transition-duration: 1s;
  z-index: 0; }
  .home-container .row {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(86, 214, 249, 0.4); }
  .home-container .col-lg-12 {
    padding: 0; }
  .home-container .info-box {
    width: 600px;
    height: 540px;
    margin: 100px 100px 0 100px;
    font-size: 15px;
    color: white;
    background-size: cover;
    background-attachment: fixed; }
    .home-container .info-box .blurred {
      width: 100%;
      height: 100%;
      background-color: rgba(86, 214, 249, 0.9);
      padding: 50px; }
  .home-container .arrow-standard-style, .home-container .down-arrow, .home-container .up-arrow {
    cursor: pointer;
    z-index: 10;
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px; }
  .home-container .down-arrow {
    position: absolute;
    bottom: 100px;
    left: 120px; }
  .home-container .up-arrow {
    position: absolute;
    top: 100px;
    left: 120px; }

.index-row {
  height: 100%;
  margin: 0; }

/*html, body{    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;}*/
/* html{overflow-y:scroll;}
*/
/*body{display:none}
*/
.ng-cloak {
  display: none; }

ul {
  list-style: none; }

/*body{height:700px}
*/
.content-list {
  padding-top: 100px; }

.container, .navbar {
  margin: 0;
  padding: 0;
  width: 100%; }

.top-border,
.left-border,
.bottom-border,
.right-border {
  padding: 10px; }

.top-border {
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  height: 10px; }

.left-border {
  left: 0px;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 10px; }

.bottom-border {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  height: 10px; }

.right-border {
  right: 0;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 10px; }

/* Projects Page */
.nav-stacked {
  overflow-y: scroll;
  height: 600px;
  overflow-x: hidden; }

.navbar a i:hover, .navbar a i:active, .navbar a i.fa {
  display: inline-block; }
