.photo-code {
  background: url("images/code.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  color: red; }

.photo-theater {
  background: url("images/theater.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  color: red; }

.photo-music {
  background: url("images/music.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  color: red; }

.photo-design {
  background: url("images/design.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  color: red; }

.photo-co {
  color: red; }
