
@mixin backImage($image, $height:100%){	
	background: url($image);
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
	height:$height;
	filter: grayscale(1);
	transition-property: filter;
	transition-duration: 1s;
	width:100%;
}

.home-container{

	@include backImage('../images/DSCF1245.jpg');
	filter: grayscale(1);
	transition-property: filter;
	transition-duration: 1s;
	z-index: 0;
	
	.row{
		width:100%; 
		height:100%; 
		margin:0; 
		background-color: rgba(86, 214, 249, 0.1)
	}


	.col-lg-12{
		padding:0
	}

	.info-box{
		width: 80%; 
		height:80%;
		margin: 30px; 
		font-size: 15px;
/*	linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); 
*/		/*// background-color:rgba(86, 21, 249, 0.8);
		// background-image: url('http://silverspaceship.com/static/shot_1.png');
		// background-color: rgba(86, 214, 249, 0.2);*/
		color:black; 
		
		.blurred {
			width:100%; height:100%;

			background-color:rgba(230, 238, 241, 0.8);
			padding:30px; 
		}
		// background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/DSCF124555.jpg");
		background-size: cover;
		background-attachment: fixed;
	} 
	//background-color:rgba(205,92,92, 0.9); 
	// .panel--projects .info-box{width: 600px; margin: 100px; font-size: 15px; background-color:rgba(86, 214, 249, 0.9);color:red; padding:50px} //background-color:rgba(205,92,92, 0.9); 


	.arrow-standard-style{
		cursor: pointer;
	    z-index: 10;
	    width: 33px;
	    height: 33px;
		line-height: 33px; 
		border-radius: 50%; 
		// background-color: #A3A3A3; 
		text-align:center; 
		font-size: 16px; 
	}
	.down-arrow{    
	    @extend .arrow-standard-style;
	    position:absolute;
	    bottom: 100px;
	    left:120px;
	    // transform:rotate(45deg);

	}

	.up-arrow{
		@extend .arrow-standard-style;
		// transform:rotate(45deg);
		position:absolute;
	    top: 100px;
	    left:120px;

	}

}

.index-row{
	height:100%; 
	margin:0
}


