@mixin backImage($image, $height:100vh){
	background: url($image);
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
	height:$height;
	filter: grayscale(1);
	transition-property: filter;
	transition-duration: 1s;
	width:100%;
}

.home-container{
	@include backImage('../images/codeforsanjose.jpg');
	filter: grayscale(1);
	transition-property: filter;
	transition-duration: 1s;
	z-index: 0;
	
	.row{width:100%; height:100%; margin:0; background-color: rgba(86, 214, 249, 0.4)}
	.col-lg-12{padding:0}

	.info-box{width: 600px; margin: 100px; font-size: 15px; background-color:rgba(86, 214, 249, 0.7);color:white; padding:50px} //background-color:rgba(205,92,92, 0.9); 

	.down-arrow{    
	position: absolute;
    cursor: pointer;
    z-index: 10;
    width: 33px;
    height: 33px;
	line-height: 33px; border-radius: 50%; background-color: #A3A3A3; text-align:center; font-size: 16px}

}

.index-row{height:100vh; margin:0}

//168,200,201, 0.9)

// .img-logo{width:60px; height:60px; display:none}