@import "overide-styles";

@import "menuanimation";
@import "homepage";

body{display:none}
.ng-cloak{ display:none}

ul{list-style: none;}

.content-list{padding-top: 100px;}

.container, .navbar{margin:0; padding:0; width:100%}


