$list: code theater music design;


  @each $author in $list{
	    .photo-#{$author}{
	 		background: url("images/#{$author}.jpg") no-repeat; 
	 		 background-size:cover;
	 		 height: 100vh;
	 		
	 		color:red;
	 	}
  }
.photo-co{color:red}