<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
<!--     	<a class="navbar-brand nav-name" href="#"><h4>Anusuya Choudhury</h4></a>
 -->    	
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expaded="false">
      <ul class="nav navbar-nav nav-ul">
        
        <li class="active" ui-sref-active="active"><a ui-sref="home"><i class="fa fa-user"></i>home</a></li>
        <li class="active" ui-sref-active="active"><a ui-sref="about"><i class="fa fa-code"></i>about</a></li>
        <li class="active" ui-sref-active="active"><a ui-sref="projects"><i class="fa fa-coffee"></i>projects</a></li>
        <li class="active" ui-sref-active="active"><a ui-sref="projects"><i class="fa fa-heart"></i>contact</a></li>
   	  </ul>
     <div class="nav-contactInfo">
      <li class="active" ui-sref-active="active"><a href="#" style="padding:0"><img class="img-logo" style="width:77px;" src="images/c4sjlogo.jpg"></a></li>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
