<div class="navbar navbar-default navbar-fixed-right">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> 
        <div class="active cfsj-logo" ui-sref-active="active">
          <a href="#">
            <img class="img-logo" src="images/c4sjlogo.jpg">
          </a>
        </div>     
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expaded="false" style="text-align:center">
      <div class="navbar-icons">
        <ul class="nav navbar-nav pull-left nav-ul">        
          <li class="active" ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li class="active" ui-sref-active="active">
            <a ui-sref="about">About</a>
          </li>
          <li class="active" ui-sref-active="active">
            <a ui-sref="projects">Projects</a>
          </li>
          <li class="active" ui-sref-active="active">
            <a ui-sref="data">Data</a>
          </li>
          <!-- <li class="active" ui-sref-active="active">
            <a ui-sref="photos">Photos</a>
          </li> -->
          <li class="active" ui-sref-active="active">
            <a ui-sref="contact">Contact</a>
          </li>
  	    </ul>
      </div>
      <div class="sign-up-button" style="width:100%; height:100%; display:inline-block; margin-top:5px; margin-bottom:20px;">
        <a style="text-decoration:none; background-color: rgba(11, 178, 216, 0.2); border:0.5px solid white;color:white; padding: 7px 15px; border-radius:5px" ui-sref="register">Sign Up</a>
      </div>
      <div class="nav-contactInf" style="height:100%; margin-top:75px">
        <div style="width:90%; margin:0 auto">
          <ul style="padding:0; width:107px; margin:0 auto; display:inline-block">
            <li><a href="https://twitter.com/codeforsanjose" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/codeforsanjose" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://github.com/codeforsanjose" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
        <p style="font-size:85%; text-align:center">
          <a ui-sref="contacts">nerds@code4snjse.com</a>
        </p>
      </div>
    </div><!-- /.navbar-collapse -->
</div>
